.home {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.filter {
    padding: 15px;
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.filter h2,
.filter h3 {
    color: #003366;
}

.filter-price {
    margin-bottom: 20px;
}

.filter-price label {
    display: block;
    margin-bottom: 5px;
}

.filter-category div {
    margin-bottom: 10px;
}

.products {
    flex: 3;
    margin-left: 250px;
}

.search-bar {
   display: block;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    margin: auto auto 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-card img {
    max-width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.product-card button {
    padding: 10px 15px;
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #483d8b;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}